.bodyGroup {
  padding: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72pt;
  font-family: "Bungee Shade", monospace;
  text-align: center;
  color: rgb(131,58,180);
  color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
