
.bodyGroup {
  min-height: 95vh;
  width: 90vw;
  font-family: "Inconsolata", monospace;
  color: white;
  border-radius: 4px;
  background: rgb(131,58,180);
  padding: 5vh 0 5vh 5vw;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

.titleText {
  margin: 0 0 10vh 0;
  font-size: calc(28px + (72 - 28)* (100vw - 400px)/(1200 - 400));
  font-family: "Bungee Shade", monospace
}
.subheaderGroup {
  padding-bottom: 10vh;
}
.subheaderText {
  font-weight: bolder;
  margin: 0 0 5vh 0;
  font-size: calc(24px + (48 - 24)* (100vw - 400px)/(1200 - 400));
}
.captionItem {
  font-size: calc(16px + (24 - 16)* (100vw - 400px)/(800 - 400));
  font-weight: lighter;
}
.hoverBox {
  display: flex;
  align-items: center;
  transition: 0.5s all ease 0s;
}
.hoverBox:hover{
  transition: 0.5s all ease 0s;
  transform: translateY(3vh);
}
.listFlex {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listFlexCol {
  justify-content: left;
}
